<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <title>CriptoCot | sua plataforma de cotações de cripto ativos</title>
</head>
<body id='body_inicial'>
<header>
    <a href="/">CriptoCot</a>
</header>
<nav>
    <a href="/sobre">Sobre Nós</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/downloads">Downloads</a>
</nav>
<section class="inicial_content">
    <div class="box_inicial">
        <h1>CriptoCot, cotações de criptomoedas e nft</h1>
        <a href="/downloads" class="btn_baixar">Baixar o CriptoCot</a>
        <a href="/dashboard" class="btn_entrar">Entrar</a>
    </div>
</section>
</body>
</html>